.dybn-app-bar {
    /* position: relative; */
    /* width: 90%; */
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0px 0px 15px 0px;
    background-color: #10100f !important;
    /* border-radius: 8px; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

/* 胶卷齿孔效果 */
.dybn-app-bar::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: 
        radial-gradient(circle at 10px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 30px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 50px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 70px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 90px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 110px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 130px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 150px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 170px 15px, #0a0a0a 5px, transparent 6px),
        radial-gradient(circle at 190px 15px, #0a0a0a 5px, transparent 6px);
    background-size: 200px 30px;
    background-repeat: repeat-x;
    z-index: 2;
}


.dybn-app-bar::after {
    bottom: 0;
    transform: rotate(180deg);
}

/* 胶片纹理 */
.dybn-app-bar::after {
    background-color: rgb(50 50 50 / 70%);
    background-blend-mode: overlay;
}